{
    "extends": "eslint:recommended",
    "rules": {
        "no-console": 0,
        "no-unused-vars": 0
    },
    "env": {
        "node": true,
        "es6": true,
        "browser": true
    },
    "plugins": [
        "react"
    ],
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "spread": true,
            "experimentalObjectRestSpread": true
        }
    },
    "settings": {
        "react": {
            "pragma": "h"
        }
    }
}
